.main-header {
  width: 100%;
  padding: 8px 16px;
  background-color: #2ddf5c;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 65px);
  vertical-align: middle;
}

.main-nav__items {
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0px 16px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
}
